<h1>Listing tins</h1>

<table>
  <tr>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tins.each do |tin| %>
  <tr>
    <td><%= tin.code %></td>
    <td><%= link_to 'Show', tin %></td>
    <td><%= link_to 'Edit', edit_tin_path(tin) %></td>
    <td><%= link_to 'Destroy', tin, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tin', new_tin_path %>
