<% if notice.nil? %>
  <div class="row">
    <div class="welcome span12">
      <% unless @is_first_holder %>
        <h2>Hi <%= @last_holder.recipient_name %>. You are holding a friendly cake tin codenamed, "<%= @tin.name %>".</h2>
      <% else %>
        <h2>Hi. You're the first holder of cake tin "<%= @tin.name %>".</h2>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span5"><div class="span3 well">
      <h3>Here's what to do</h3>
      <strong>
        <ol>
          <li>Bake something and put it in the tin</li>
          <li>Add details of what you made</li>
          <li>Give the full cake tin to someone lovely</li>
        </ol>
      </strong>
    </div></div>
    <div class="span7">
      <%= render "holders/form" %>
    </div>
  </div>
<% end %>

<% unless @is_first_holder %>
  <div class="row">
    <h2>History of the cake tin</h2>
  </div>

  <% @past_holders.each do |h| %>
    <%= render :partial => "holders/show", :locals => { :holder => h } %>
  <% end %>
<% end %>