<%= form_for(@holder, :html => { :multipart => true }) do |f| %>
  <% if @holder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

      <ul>
      <% @holder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="four columns alpha">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="six columns omega">
    <%= f.label :recipe_title, "What you made" %>
    <%= f.text_field :recipe_title %>
  </div>
  <br class="clear" />
  
  <%= f.label :pic %>
  <%= f.file_field :pic %>
  <%= f.label :recipe_text, "Recipe" %>
  <%= f.text_area :recipe_text, :rows => 8 %>
  <%= f.submit "Save" %>
<% end %>
