<%= render :partial => "holders/first_holder", :locals => { :f => f } if @is_first_holder %>

<div class="row">
  <div class="span7">
    <%= f.text_field :recipe_title, placeholder: "Title", class: "span6" %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= f.label :pic, "Add a photo", class: "control-label" %>
    <%= f.file_field :pic, class: "span3" %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= f.text_area :recipe_text, rows: "8", placeholder: "Recipe / Story", class: "span6" %>
  </div>
</div>

<h2>Next person</h2>
<div class="row">
  <div class="span3">
    <%= f.text_field :recipient_name, placeholder: "Name", class: "span3" %>
  </div>
  <div class="span3">
    <%= f.text_field :recipient_email, placeholder: "Email", class: "span3" %>
  </div>
</div>

<%= f.button "Save", class: "btn btn-primary btn-large" %>
