<%= form_for(@holder, :html => { :multipart => true }) do |f| %>
  <% if @holder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

      <ul>
      <% @holder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :recipe_title, "What you made" %><br />
    <%= f.text_field :recipe_title %>
  </div>
  <div class="field">
    <%= f.label :pic %><br />
    <%= f.file_field :pic %>
  </div>
  <div class="field">
    <%= f.label :recipe_text, "Recipe" %><br />
    <%= f.text_area :recipe_text %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
