<% editable = (holder == @tin.holders.first && holder.created_at >= 1.day.ago) %>

<div id="holder_<%= holder.id %>" class="holder">
  <div class="row">
    <div class="span11">
      <h3>For <%= holder.recipient_name %> made by <%= holder.name %> - <%= holder.recipe_title %> - <%= holder.created_at.strftime("%e %B %Y") %></h3>
    </div>

    <div class="span1">
      <% if editable %>
        <p><%= link_to "Edit", root_path, :id => :edit_holder %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <% if holder.pic %>
        <a data-toggle="modal" href="#holder-<%= holder.id %>-pic">
          <%= image_tag holder.pic.thumb('380x').url %>
        </a>

      <div class="modal hide" id="holder-<%= holder.id %>-pic">
        <%= image_tag holder.pic.thumb('556x').url %>
      </div>
      <% end %>
    </div>
    <div class="span7">
      <p>
        <%= holder.recipe_text.gsub("\n", "<br />").html_safe %>
      </p>
    </div>
  </div>
</div>

<% if editable %>
  <div id="holder_form" class="hide_me" data-id="holder_<%= @tin.holders.first.id %>">
    <%= render :partial => "holders/edit_form", :locals => { :holder => @tin.holders.first } %>
  </div>
<% end %>
