<p id="notice"><%= notice %></p>

<p>
  <b>Tin:</b>
  <%= @holder.tin %>
</p>

<p>
  <b>Name:</b>
  <%= @holder.name %>
</p>

<p>
  <b>Recipe title:</b>
  <%= @holder.recipe_title %>
</p>

<p>
  <b>Recipe text:</b>
  <%= @holder.recipe_text %>
</p>

<p>
  <b>Pic uid:</b>
  <%= @holder.pic_uid %>
</p>

<p>
  <b>Ip:</b>
  <%= @holder.ip %>
</p>


<%= link_to 'Edit', edit_holder_path(@holder) %> |
<%= link_to 'Back', holders_path %>
