<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Magic Travelling Cake Tin</title>
  <meta name="description" content="travelling cake tin recipes">
  <meta name="author" content="meltingwaldo">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="notice"><%= notice %></div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
